<h1>Github Issues</h1>

<div class="my-5 border-b-2 border-blue-2">
  <section class="grid grid-cols-1 sm:grid-cols-3">
    <div class="col-span-3 flex flex-col">
      <div class="flex gap-2">
        <button class="btn active">All</button>
        <button class="btn">Open</button>
        <button class="btn">Closed</button>
      </div>
    </div>

    <div class="mt-4 flex flex-col col-span-2">
      <h3>Issues</h3>
      <a routerLink="/issue/123">Ir a Issue 123</a>
    </div>

    <div>
      <h2>Labels</h2>
    </div>
  </section>
</div>
