<nav
  class="top-0 absolute z-50 w-full flex justify-end gap-3 text-white px-2 py-3 bg-slate-900 shadow-md"
>
  <a
    class="hover:underline"
    routerLink="/pokemons"
    routerLinkActive="text-blue-500 underline"
    >Pokemones</a
  >
  <a
    class="hover:underline"
    routerLink="/about"
    routerLinkActive="text-blue-500 underline"
    >About</a
  ><a
    class="hover:underline"
    routerLink="/pricing"
    routerLinkActive="text-blue-200 underline"
    >Pricing</a
  ><a
    class="hover:underline"
    routerLink="/contact"
    routerLinkActive="text-blue-500 underline"
    >Contact</a
  >
</nav>
